/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 8.3rem;
  height: 11.5rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.clicked .flip-card-inner {
  transform: rotateY(180deg);
  pointer-events: none;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  background-color: white;
  border-radius: 5px;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
.card-background {
  width: 100%; /* Make the image width 100% of the parent container */
  height: 100%; /* Make the image height 100% of the parent container */
  object-fit: contain; /* Maintain aspect ratio and cover the container */
  position: absolute; /* Position the image absolutely within the container */
  top: 0; /* Position from the top edge of the container */
  left: 0; /* Position from the left edge of the container */
}
@media (prefers-color-scheme: light) {
  .flip-card-front {
    background-color: #242424;
    color: white;
  }
}
@keyframes flip-card {
  from {
    transform: rotateY(180deg);
    pointer-events: none;
  }
  to {
    transform: rotateY(0deg);
  }
}
.pointer-events-none {
  pointer-events: none;
}
